#task-list {
    color: #2b2f3e;
    font-weight: 500;
    list-style: none;
    margin: 0;
    padding: 0;
}
#task-list li {
    border-bottom: 1px solid #d9d9d9;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.task-inner {
    background-color: #fff;
    padding: 40px 0 40px 35px;
    position: relative;
    box-sizing: content-box;
    height: 40px;
    -webkit-transition: margin-right 1s;
    transition: margin-right 0.5s;
    z-index: 1;
}
.delete-task {
    background-color: #d4145a;
    color: #fff;
    padding: 34px 47px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
#task-list li:hover .task-inner {
    background-color: #eee;
    margin-right: 195px;
}
.task-inner > span {
    display: block;
    float: left;
    width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment-count {
    background-color: #313464;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    float: right;
    margin: -14px 20px 0 0;
    height: 70px;
    width: 70px;
}
.comment-count span {
    display: block;
    margin: 9px 0 0 26px;
    font-weight: 500;
}
#add-task-wrapper {
    text-align: center;
    margin-top: 40px;
}
.btn-floating {
    background-color: #d4145a;
    height: 110px !important;
    width: 110px !important;
    line-height: normal;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.55);
}
.btn-floating i {
    color: #f5a8f0;
    font-size: 93px;
    line-height: 111px;
}
